.icon{
  fill: gold;
  width: 10em;
  height: 10em;
  clear: both;
  display: block;
  margin:auto;
}


header {
    min-height: 30vh;
  }

body{
  font-size: 10%;
  background-color:#d3ffce;
  height: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right:auto;
}

.video{
  text-align: center;

}

footer{
  font-size: 8em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.h2-01{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  table-layout: fixed;
}

#image_fleche{
max-width: 400px;
}

h1{
  font-family: 'Sofia', cursive;
  font-size: 22em;
  color: #000000;
  text-align: center;
  clear: both;
   display: block;
   margin:auto;
}

.text{
  margin-right: auto;
  margin-bottom: 0;

}

.page-1{
  color:rgb(0, 0, 0);
  font-size: 18em;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: auto;

}

.content-block{
  text-align: justify;
    max-width: 85em;
    margin-right: auto;
    margin-left: auto;
}


p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10em;
  text-align: justify;
}

a:hover{
  color: rgb(241, 196, 15);
}

.nav-block {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 10px;
  width: 100%;
  height: auto;
}

image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
